h2.ant-typography, h3.ant-typography, h4.ant-typography {
  font-family: 'Montagu Slab', serif;
  line-height: 50px;
}

h4.ant-typography {
  font-weight: 400;
}

span.ant-typography {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.ant-alert-success .ant-alert-message, .ant-alert-success .ant-alert-description {
  color: #30920C !important;
}

.ant-input-number {
  background: transparent;
}

.ant-input-number-affix-wrapper {
  background: none;
  border-width: 0;
}